.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

#headb1 {
    width: auto;
    overflow:hidden;
    background:#fff url('../img/images/Banner_1.jpg') top no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

#headplanos {
    width: auto;
    overflow:hidden;
    background:#fff url('../img/images/Banner_planos.jpg') top no-repeat;
    background-size: cover;
    padding-left: 24px;
    padding-right: 24px;
}

#headinstitucional {
    width: auto;
    overflow:hidden;
    background:#fff url('../img/images/Banner_institucional.jpg') top no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

#headb2 {
    min-height: 430px;
    overflow:hidden;
    background:#fff url('../img/images/Banner_2.jpg') top no-repeat;
    background-size: 100% auto;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

#headb3 {
    min-height: 430px;
    overflow:hidden;
    background:#009999;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

#headimg {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

}
#headb4 {
    overflow:hidden;
    background:#fff url('../img/images/cartao_virtual.jpg') top no-repeat;
    background-size: cover;
}

h1{
    color: #0000cc;
    font-family: 'Montserrat', sans-serif;
}


#bloco{
    background-color: #0069d9;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

@media only screen and (max-width: 300px) {    
    body { font-size: 18px; }    
}
@media only screen and (max-width: 2000px) {    
    body { font-size: 36px; }
}
